<h1>Some books to get you started.</h1>
<ul>
<li><p>Dalva</p></li>
<img src='img/dalva.jpg' alt='book cover'>
<li><p>The Woman Lit by Fireflies</p></li>
<img src='img/fireflies.jpg' alt='book cover'>
<li><p>Returning to Earth: A Novel<p></li>
<img src='img/earth.jpg' alt='book cover'>
</ul>
<p>His latest book is: <%= @latest_book %> </p>
