<html>
  <head>
    <title>Jim Harrison</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/writer.css' media='all' type='text/css'>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
